{% extends "urbanpassApp/main.html" %}

{% block content %}

<p>Lista de clientes</p>

<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Nombre</td>
            <td>Apellido</td>
            <td>Email</td>
            <td>Telefono</td>
        </tr>
    </thead>
    <tbody>
        {% for customer in customer_list %}
            <tr>
                <td>{{customer.nombre}}</td>
                <td>{{customer.apellido}}</td>
                <td>{{customer.email}}</td>
                <td>{{customer.telefono}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock content %}