{% extends 'urbanpassApp/index.html' %}

{% block content %}
    <div style="padding-top: 90px;" class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Eventos</h1>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Fecha</th>
                            <th>Capacidad</th>
                            <th>Acciones</th>
                            <th>ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for event in event_list %}
                        <tr>
                            <td>{{ event.nombre }}</td>
                            <td>{{ event.fecha }}</td>
                            <td>{{ event.id_lugar_evento.capacidad }}</td>
                            <td>
                                <a href="../reservar_entrada/{{ event.id_evento }}/" class="btn btn-warning btn-reservar">Reservar</a>
                                <a class="btn btn-danger">Pagar</a>
                            </td>
                            <td>{{event.id_evento}}</td>
                        </tr>

                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
